
/*header*/

header div {
  background: black; /*becasue header inherits no color from stlye.css*/
}

/*banner*/
#banner { /*to target service.html banner vs index.html*/
  color: black;
  text-align: center;
  background-size: cover;
  height: 40rem;
}

.outcomes {
  display: flex;
  justify-content: space-around; /*to bring items into centre*/
  margin-bottom: 3rem;
}

.outcome {
  width: 25%;
  margin-top: 10rem;
}

.outcome h1 {
  font-size: 2.5rem;
  font-family: 'Noto Serif', serif;
}

.button {
  margin-left: auto;
  margin-right: auto;
  width: 25%; /*25% of banner container*/
  height: 5rem;
  font-size: 2rem;
  background: red;
  border-radius: 10px; /*to round hard 90 degree edges*/
  background: #991923;
}


.button a {
  text-decoration: none;
  color: white;
}

/*make button change on hover for visual strength*/
.button a:hover {
  color: black
}

.button:hover {
  background: white;
  color: black;
}


@media only screen and (max-width: 480px) {
  #banner {
    height: 47rem; /*increase height to fit contents of column flex banner outcomes*/
  }

  .outcomes {
    flex-direction: column; /*to align items centre for mobile*/
    align-items: center; /*to align items centre for mobile*/
  }
  .outcome {
    width: 90%;
    margin-top: 3rem;
  }

  .outcome h1 {
    font-size: 2rem;
    font-family: 'Lora', serif;
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 4rem;
    font-size: 1.5rem;
  }
}



/*list-section*/

.service-list {
  max-width: 630px; /*to tigthen content to center of screen*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  border-top: 1px solid black
}

.service-list h2 {
  font-size: 2.5rem;
}

.service-list h2, h3 {
  text-align: center;
}

.pitch {
  margin-bottom: 3rem;
}

.list {
  display: flex; /*to make .services div flex-items*/
  margin-left: auto;
  margin-right: auto;
  background: pink;
}


.services {
  color: white;
  background-color: #991923;
  margin: 1rem;
  height: 12rem; /*to squeeze services in to 2x2 table*/
  width: 17rem; /*to squeeze services in to 2x2 table*/
  border-radius: 5px;
  padding: 0.3rem;
}




@media only screen and (max-width: 480px) {
  .service-list {
    padding-left: 0.5rem; /*to add whitespace between screen border*/
    padding-right: 0.5rem;

  }
  .list {
    flex-direction: column;
    align-items: center; /* step 1 in centering .services flex-items*/
  }
.column-one, .column-two {
    width: 90%;
  }
  .services {
    width: auto; /* step 2 in centering .services flex-items*/

  }

}


/*form*/

/*contact form*/

.form {
  text-align: center;
  max-width: 500px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;

}

form {
  /* Just to center the form on the page */
  width: 80%;


  /* To see the outline of the form */

}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block; /*so that border + width + text-align can be added to it*/
  width: 90px;
  text-align: right;

}

input, textarea {


  font-size: 1rem; /* to override mone font styling*/

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;


  border: 1px solid #999; /* To harmonize the look & feel of text field border */



  padding: 0.8rem; /*to give space around placeholder text*/


}

.entry-area {
  margin-bottom: 1rem;
}

textarea {
  vertical-align: top; /* To properly align multiline text fields with their labels */
  height: 5em; /* room fro input text */
}


.button-form {
  margin-top: 2rem;
  width: 40%;
  height: 2rem;
  font-size: 1.1rem;
  color: white;
  background: #991923;
  border-radius: 8px;

}

.button-form:hover {
  background: white;
  color: black;
}

@media only screen and (max-width: 480px) {
  form {
    /*to center form*/
    width: 70%;
    padding-left: 3rem;
  }
  label {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .entry-area {
    margin-bottom: 1rem;
  }

}

/*universal footer styles*/
